speechrecognition
pyttsx3
opencv-python
numpy
requests
python-dotenv
pillow
mediapipe
torch
transformers
ollama
openai
sounddevice
soundfile
pvporcupine
pyautogui
psutil
pymongo
pinecone
scikit-learn
